rack_test_app/passenger.*.log
rack_test_app/passenger.*.pid*
rails_test_app/passenger.*.log
rails_test_app/passenger.*.pid*
**/benchmark_output_*.txt
**/warmup_output_*.txt
**/process_output.json
rack_test_app/benchmark.log
data/**/rsb_*.json
*_test_app/Gemfile.dynamic
*_test_app/Gemfile.dynamic.lock
