scratch_*.sh
scratch_*.rb
*_bench_rsb.csv
*_bench_rsb.gnuplot
**/rsb_rack_*.json
**/rsb_rails_*.json
rack_hello_world/passenger.*.log
rack_hello_world/passenger.*.pid*
widget_tracker/passenger.*.log
widget_tracker/passenger.*.pid*
**/benchmark_output_*.txt
**/warmup_output_*.txt
**/process_output.json
rack_test_app/benchmark.log
